
.cursor-pointer{
    cursor: pointer !important;
}

.cursor-disable{
    cursor :not-allowed !important;
}

// CSS for the topmost header
.headercontainer{
    height: 50px;
    background: #76618B !important;
}

.kekaimage{
    width: 120px;
    height: 50px;
}

.userheaderimage{
    height: 35px;
    width: 35px;
}

// text-whitish grey
.text-grey{
    color: rgb(231, 228, 228) !important;
}


// side nav component
.sidecontainer{
    top: 0;
    width: 120px;
    height: 100%;
}

.active{
    background: rgba(128, 128, 128, 0.493) !important ;
    color: rgb(216, 216, 216) !important;
    outline: none;
    border: none;
}

.sidelist > li:hover {
    background: rgba(128, 128, 128, 0.493) !important ;
    // border-bottom: 1px solid rgb(163, 161, 161) !important;
}

.sidelist > li:hover a:hover{
    color: rgb(216, 216, 216) !important;
}


// font size 20px
.ft-20{
    font-size: 20px;
}

// maincontainer to include formum component

.maincontainer{
    margin-left: 120px;
}



// Css for the forum component

.topnav.nav {
    background-color: #fff;
    box-shadow: 3px 0px 6px 0px #d8dde6;
    height: 50px;
    width: 100%;
  
    & li {
      position: relative;
      padding: 8px;
      border-radius: 2px;
  
      & a {
        font-size: 11px;
        padding: 8px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 500;
        color: #777
      }
  
    }
  }
  .topnav.nav li.active1 a {
    color: #222;
    // background: transparent !important;
  }

  
  a:hover{
      text-decoration:none;
      color: black !important;
  }


  // Css for the filters in home component
  .filtercontainer{
      height: 100px;
      border-top: 1px solid rgba(179, 177, 177, 0.678);
      border-bottom:1px solid rgba(179, 177, 177, 0.678) ;
  }

//   Set width to 20%
.wt-20{
width: 16%!important;
}

.wt-40{
    width: 40%;
}
  /* Styles for wrapping the search box */

.main {
    width: 25%;
    // margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.btncolor{
    background: #755e8b !important;
    color: white !important;
}

.btncolor:hover{
    background: #613a86 !important;
    color: white !important;
}

.filteroption:hover {
    background: grey !important ;
}


select.filter:focus option:checked{
    background: rgba(197, 196, 196, 0.479) !important;
}

// css for the container after filters 
.homequestioncontainer{
    min-height : 500px;
}

.questionbox{
    min-height: 500px;
    background: white;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 4px;
}

.questiondetail{
    min-height: 800px;
    background: rgba(236, 234, 234, 0.233);
    border: 1px solid rgb(201, 200, 200);
    border-radius: 4px;
}

// Answer Box in home page 
.answer-form{
    position: absolute;
    
    bottom: 0;
    right: 0;
}

.editor{
    height: 250px;
}

.answer-list{
    height: 400px;
}

// Css for question details 
.answerstab{
    background: rgba(184, 184, 184, 0.329);
    color: rgb(80, 79, 79);
    border: 1px solid grey;
    border-radius: 5px;
}

.questioncard{
    border-bottom: 1px solid rgba(128, 128, 128, 0.616);
}

.bg-greylight{
    background: rgba(192, 191, 191, 0.555);
}


// CSS for Custom Checkbox

.checkbox-container { 
    position: relative;
}

.checkdiv {
    width: 16px;
}

.checkbox-container input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0px;
    width: 0px;
}

.checkmark {
    /* margin: auto; */
    text-align: left;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 25px;
    display: block;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(148, 148, 148, 0.781);
}

.checkbox-container:hover input ~.checkmark { 
    background-color: rgba(255, 255, 255, 0.562);
}

.checkbox-container input:checked ~.checkmark { 
    background-color: green;
}

.checkbox-container input:disabled ~.checkmark { 
    background-color: red;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~.checkmark:after { 
    display: block;
}

.checkbox-container .checkmark:after {
    left: 8px;
    top: 1px;
    width: 6px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

// Font Size
.ft-20{
    font-size: 20px !important;
}
.ft-30{
    font-size: 30px !important;
}

.buttonscontainer{
    border-top: 1px solid rgba(128, 128, 128, 0.212);
    bottom: 0;
}


// Categories Component

.categorycontainer{
    min-height: 500px;
}

.cardtab{
    width: 300px !important;
    min-height: 160px;
    border: 1px solid rgba(128, 128, 128, 0.452);
    background: white;
    margin : 0 20px 20px 0;
}



// NGX Editor CSS
.NgxEditor__Wrapper{
    border: 2px solid  rgb(212,215,220) !important;
    font-size: 13px;
    border-radius: 6px;
    padding-bottom: 10px;
    background-color: white !important;
}
.NgxEditor{
    height: 150px ;
    width: 400px ;
    overflow-y: scroll;
}
.NgxEditor__Wrapper .NgxEditor__MenuBar{
    border-bottom: 0 !important;
}
.NgxEditor__MenuBar{
    background-color: white;
}
.expand-editor .NgxEditor{
    height: 300px !important;
    width: 700px !important;
    overflow-y: scroll;
}


// Users Card CSS
// .usercard{
//     width: 350px;
// }

.font-size-14{
    font-size: 14px;
}
.app-color{
    color:  rgb(131,131,131)
}
.purple-color{
    background-color:  rgb(118,97,139);
}
.dark-purple{
    color: #70588a;
}

.border{
    border: 2px solid #dee2e6 !important;
    border-radius: 6px;
}
.min-width-150{
    min-width: 150px;
}
.user-info-hover:hover,
.user-info-active {
    color: black;
    // font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(
      to bottom,
      white 0%,
      white 95%,
      #70588a 95%,
      #70588a 100%
    );
  }

  .resolved-question{
    position: absolute;
    left: -13px;
    transform: rotate(-45deg);
    border-left: 20px solid transparent;
    margin-top: -3px;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #28a745;
}