<div class=" container-fluid p-0 pr-5 headercontainer d-flex flex-row justify-content-end align-items-center " >

    <div class=" d-flex flex-row justify-content-end  text-grey " >
        <h6 class=" font-weight-normal align-self-end  mr-4">14 March 2017</h6>
        <h6 class="small mr-4 align-self-end  "  ><i class="fa fa-circle  " aria-hidden="false"></i></h6> 
        <h6 class=" font-weight-normal mr-4 align-self-end">{{user?.name}}</h6>
        <!-- src="/assets/Images/defaultuser.jpg" -->
        <img  [src] = 'user?.imageUrl' class="userheaderimage rounded-circle " alt="">
    </div>
</div>
